<div class="row">
  <div class="col-md-6 offset-md-3">
    <h1>Edit User Info</h1>
    <%= form_for @user do |f| %>  
      <div class="form-group">
        <%= f.label :name, 'Name' %>
        <%= f.text_field :name, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :email, 'Email' %>
        <%= f.text_field :email, class: 'form-control' %>
      </div>

      <%= f.submit 'Edit Account', class: 'btn-spotify text-white' %>
    <% end %>
  </div>
</div>