<h1>Feed</h1>

<div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Sort By
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item" href="#">Alphabetical</a>
    <a class="dropdown-item" href="#">Most Recent</a>
    <a class="dropdown-item" href="#">Random</a>
  </div>
</div>

  <% @posts.shuffle.in_groups_of(3).each_with_index do |row, i|  %>

    <div class="row mb-3">
      <div class="col-md-4 col-sm\12">
        <div class="card" style="width: 342px;">
          <div class="card-body">
            <h5><%= link_to(row[0].user.name, user_path(row[0].user.id))%></h5>
            <p> <%=time_ago_in_words row[0].created_at %> ago</p>
            <%= row[0].audio.html_safe %>
            <p><%= link_to(row[0].tag, post_path(row[0])) %></p>
          </div>
        </div>
      </div>

    <% if row[1] %>
      <div class="col-md-4 col-sm\12">
        <div class="card" style="width: 342px;">
          <div class="card-body">
            <h5><%= link_to(row[1].user.name, user_path(row[1].user.id))%></h5>
            <p> <%=time_ago_in_words row[1].created_at %> ago</p>
            <%= row[1].audio.html_safe %>
            <p><%= link_to(row[1].tag, post_path(row[1])) %></p>
          </div>
        </div>
      </div>
    <% end %>

    <% if row[2] %>
      <div class="col-md-4 col-sm\12">
        <div class="card" style="width: 342px;">
          <div class="card-body">
            <h5><%= link_to(row[2].user.name, user_path(row[2].user.id))%></h5>
            <p> <%=time_ago_in_words row[2].created_at %> ago</p>
            <%= row[2].audio.html_safe %>
            <p><%= link_to(row[2].tag, post_path(row[2])) %></p>
          </div>
        </div>
      </div>
    <% end %>

  </div>
<% end %>


