
<h1><%= @user.name %></h1>

<ul class="list-unstyled">
<% for post in current_user.posts.reverse %>
    <li><%= post.audio.html_safe %></li>
    <li><%= post.caption%></li>

    <li><%= link_to "Edit", edit_post_path(post.user_id) %> <%= link_to "Delete", post_path(post.user_id), method: "delete" %></li>
   
<% end %>
</ul>
