
<h1><%= @user.name %></h1>

<% @posts.reverse.in_groups_of(3).each_with_index do |row, i|  %>
  <div class="row mb-3">
    <div class="col-md-4">
      <div class="card" style="width: 342px;">
        <div class="card-body">
          <%= link_to(row[0].audio.html_safe, posts_path(row[0])) %>
          <p><%= link_to "#{time_ago_in_words(row[0].created_at)} ago", post_path(row[0]) %></p>
        <% if current_user == @user%>
          <p>
            <%= link_to "Edit", edit_post_path(row[0].id) %> 
            <%= link_to "Delete", post_path(row[0].id), method: "delete" %>
          </p>
        <% end %>
      </div>
    </div>
    </div>

    <% if row[1] %>
      <div class="col-md-4">
        <div class="card" style="width: 342px;">
          <div class="card-body">
            <%= link_to(row[1].audio.html_safe, posts_path(row[1])) %>
            <p><%= link_to "#{time_ago_in_words(row[1].created_at)} ago", post_path(row[1]) %></p>
            <% if current_user == @user %>
            <p>
              <%= link_to "Edit", edit_post_path(row[1].id) %> 
              <%= link_to "Delete", post_path(row[1].id), method: "delete" %>
            </p>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  
    <% if row[2] %>
      <div class="col-md-4">
        <div class="card" style="width: 342px;">
          <div class="card-body">
            <%= link_to(row[2].audio.html_safe, posts_path(row[2])) %>
            <p><%= link_to "#{time_ago_in_words(row[0].created_at)} ago", post_path(row[0]) %></p>
            <% if current_user == @user%>
            <p>
              <a><%= link_to "Edit", edit_post_path(row[2].id) %> </a>
              <a class="right"><%= link_to "Delete", post_path(row[2].id), method: "delete" %></a>
            </p>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
<% end %>