
<h1><%= @user.name %></h1>


<% @posts.reverse.in_groups_of(3).each_with_index do |row, i|  %>

<div class="row mb-3">
      <div class="col-md-4">
      <p><%= link_to(row[0].caption, post_path(row[0])) %></p>
       <%=time_ago_in_words row[0].created_at %> ago</p>
        <%= link_to(row[0].audio.html_safe, posts_path(row[0])) %>
      <% if current_user == @user%>
        <p><%= link_to "Edit", edit_post_path(row[0].id) %> 
        <%= link_to "Delete", post_path(row[0].id), method: "delete" %>
        </p>
        <% end %>
      </div>

      <% if row[1] %>
      <div class="col-md-4">
      <p><%= link_to(row[1].caption, post_path(row[1])) %></p>
       <%=time_ago_in_words row[1].created_at %> ago</p>
        <%= link_to(row[1].audio.html_safe, posts_path(row[1])) %>
      <% if current_user == @user%>
        <p><%= link_to "Edit", edit_post_path(row[1].id) %> 
        <%= link_to "Delete", post_path(row[1].id), method: "delete" %>
        </p>
        <% end %>
      </div>
      <% end %>

      <% if row[2] %>
      <div class="col-md-4">
      <p><%= link_to(row[2].caption, post_path(row[2])) %></p>
      <%=time_ago_in_words row[2].created_at %> ago</p>
      <%= link_to(row[2].audio.html_safe, posts_path(row[2])) %>
      

      <% if current_user == @user%>
        <p><%= link_to "Edit", edit_post_path(row[2].id) %> 
        <%= link_to "Delete", post_path(row[2].id), method: "delete" %>
        </p>
        <% end %>
      </div>
      <% end %>

    </div>
  <% end %>