<div class="row">
  <div class="col-md-6 offset-md-3">
    <h1>New Post</h1>
    <%= form_for @post do |f| %>  
      <div class="form-group">
        <%= f.label :audio, 'Audio' %>
        <%= f.text_field :audio, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :caption, 'Caption' %>
        <%= f.text_field :caption, class: 'form-control' %>
      </div>

      <%= f.submit 'Create Post', class: 'btn btn-primary' %>
    <% end %>
  </div>
</div>