
<body background="https://i.imgur.com/MO4O1X2.jpg">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <h1>New Post</h1>
      <%= form_for @post do |f| %>  
      <div class="form-group">
        <%= f.label :audio, 'Embed Code' %>
        <%= f.text_field :audio, class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= f.label :tag, 'Tag' %>
        <%= f.text_field :tag, class: 'form-control' %>
      </div>

      <%= f.submit 'Create Post', class: 'btn-spotify text-white' %>
    <% end %>
    </div>
  </div>
</body>


