

<ul class="list-unstyled">
<h1>BOOOOM!</h1>
    <li><%= link_to(@post.user.name, post_path(@post.user.id))%> <%=time_ago_in_words @post.created_at %> ago</li>
    <li><%= @post.audio.html_safe %></li>
    <li class="green"><%= @post.caption %></li>

    <% if current_user == @user %>

    <li> <%= link_to "Edit", edit_post_path(@post) %> <%= link_to "Delete", post_path(@post), method: "delete" %></li>

    <% end %>
</ul>