

<ul class="list-unstyled">
    <li><%= link_to(@post.user.name, user_path(@post.user.id))%> <%=time_ago_in_words @post.created_at %> ago</li>
    <li><%= link_to(@post.audio.html_safe, posts_path(@post)) %></li>
    <li><%= link_to(@post.caption, post_path(@post)) %></li>
    <li><%= link_to "Edit", edit_post_path(@post) %> <%= link_to "Delete", post_path(@post), method: "delete" %></li>
</ul>